:root {
  --name-color: black;
  --namefotter-color: white;
  --fotter-color: #2f303a;
  --menu-color: #212121;
  --main-color: #212121;
  --body-color: #212121;
  --textlorem-color: #757575;
  --team-color: #f5f4fa;
  --spirt-color: #afb1b8;
  --active-color: #2196f3;
  --headerborder-color: #ECECEC;
  --overlay-color: 
  rgba(255, 255, 255, 1);
}
body {
  color: var(--body-color);
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
ul {
  list-style-type: none;
}
.header {
  display: flex;
  text-align: center;
  align-items: baseline;
  height: 80px;
}
.headerportfolio{
  display: flex;
  text-align: center;
  align-items: baseline;
  border-bottom: 1px solid var(--headerborder-color);
  height: 80px;
}
.name {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--name-color);
  cursor: pointer;
}
.web-color {
  color: #2196f3;
}
.menu {
  display: flex;
  gap: 46px;
  padding-left: 93px;
}

.unactive{
  position: relative;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: var(--menu-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.unactive:hover{
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.unactive:focus{
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-agencja{
  position: relative;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: var(--menu-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-agencja:hover{
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-agencja:focus{
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-agencja::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-color);
  bottom: -32px;
  left: 0px;
}
.header-portfolio{
  position: relative;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: var(--menu-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-portfolio:hover{
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-portfolio:focus{
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-portfolio::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-color);
  bottom: -32px;
  left: 0px;
}
.header-kontakt{
  position: relative;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: var(--menu-color);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-kontakt:hover{
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-kontakt:focus{
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.headercontact {
  display: inline-flex;
  gap: 50px;
  padding-left: 345px;
}
.hcontact {
  justify-content: flex-end;
}
.contact {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon{
  fill: currentColor;
  margin-right: 10px;
}
.contact:hover {
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:focus {
  color: var(--active-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Heder i ogólne body */
.main {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/tło-img.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--main-color);
}
.maintext {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
}
.mainbutton {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.lorem-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--team-color);
  border-radius: 4px;
}
.lorem {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 30px;
}
.headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 17;
}
.textlorem {
  font-size: 14px;
  line-height: 1, 71;
  color: var(--textlorem-color);
  flex-wrap: wrap;
  flex-basis: calc((100% - 90px) / 4);
}
.whatwedo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  padding-bottom: 50px;
}
.mainimg {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.grey-box{
  position: relative;
  width: 370px;
  height: 270px;
  overflow: visible;
}
.grey-text{
  position: absolute;
width: 370px;
height: 70px;
background-color: rgba(47, 48, 58, 0.8);
bottom: -9%;
display: flex;
justify-content: center;
align-items: center;
}
.grey-text>p{
  color:#FFFFFF;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.team {
  background-color: var(--team-color);
  padding-bottom: 94px;
}
.team-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.teamimg {
  display: flex;
  width: 1200px;
  gap: 30px;
  padding: 0;
}
.imgteam {
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  flex-basis: calc((100%-90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.imgname-team {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  margin: 0 ;
  padding-top: 30px;
}
.text-team {
  margin: 0px;
  text-align: center;
  padding-top: 10px;
}
.mi {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.teamsignature {
  background-color: #ffffff;
}
.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social {
  background-color: #ffffff;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover {
  background-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social:focus {
  background-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.logo {
  fill: var(--spirt-color);
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover {
  fill: #2196f3;
  border-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:focus {
  fill: #2196f3;
  border-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Początek footera */
.fotter {
  background-color: #2f303a;
}
.both {
  display: flex;
}
.right {
  padding-left: 70px;
}

.namefotter {
  text-decoration: none;
  color: var(--namefotter-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.namefotter:hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.namefotter:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.location {
  color: #ffffff;
  font-size: 14px;
  line-height: 1, 71;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.location:hover {
  color: #2196f3;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.location:focus {
  color: #2196f3;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.joinus {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 17;
  color: #ffffff;

}
.social-fotter {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-fotter:hover {
  background-color: #2196f3;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-fotter:focus {
  background-color: #2196f3;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tu kończy się css dla strony głównej */
.filtrs {
  display: flex;
  gap: 8px;
  justify-content: center;
  border-bottom: #ffffff;
  padding-bottom: 50px;
}
.filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: var(--team-color);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr:hover {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr:focus {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.img {
  padding-top: 50px;
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}
.portfolioimg {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eEEEEE;
  background-color: #FFFFFF;
  box-sizing: border-box;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolioimg:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolioimg:hover .overlay{
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolioimg:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolioimg:focus .overlay{
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-box{
  position: relative;
  overflow: hidden;
}
.overlay{
  background-color: 
  rgba(33, 150, 243, 0.9)
   ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay>p{
  width: 370px;
  height: 294px;
  color: var(--overlay-color);
  font-size: 18px;
  line-height: 1,55;
  margin: 0 auto;
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left:24px;
  padding-right: 45px;
}
.fit{
  margin: 0;
}

.pi {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.imgname {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-left: 24px;
}
.text{
  padding-left: 24px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* JS */
.backdrop{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 528px;
  min-height: 581px;
  background-color:#FFFFFF;
  visibility: inherit;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
  transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal>button{
  position: absolute;
  background-color:#FFFFFF ;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: flex-end;
}

.my-form{
  margin-top: 40px;
}
.my-form .modal-input:focus{
  outline: 0;
}

.modal-fieldset:has(.modal-input:focus){
  border-color: rgba(33, 150, 243, 1);
  transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-fieldset:has(.modal-input:focus) .modal-icon{
  fill: rgba(33, 150, 243, 1);
  transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:has(.text-area:focus){
  border-color: rgba(33, 150, 243, 1);
  transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fieldset{
  display: flex;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  align-items: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
}
.checkbox{
width: 16px;
height: 15px;
background-color: #FFFFFF;
border-radius: 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
outline: 0;
}
.checkbox:focus{
  background-color: #2196F3;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  content: url(/images/icons.svg/symbol-defs.svg#icon-accept);
 box-shadow: none;

}
.modal-textarea{
  display: flex;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  align-items: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
  height: 120px;
}
.text-area{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  height: 100%;
  border: none;
}
.my-form .modal-label{
  position: absolute;
  top: -18px;
  font-size: 12px;
  color: #757575;
}
.my-form .modal-icon{

  width: 12px ;
  height: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 15px;
  margin-right: 15px;
}
.my-form .modal-input{
  border: 0;
  background-color: transparent;
  font-size: 16px;
}

.modal-head{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1,01;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.fieldset-legal{
  border:none;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.link-legal{
  color:rgba(33, 150, 243, 1);
  text-decoration: underline;
}
.fieldset-button{
  border: none;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}
.modal-button{
  width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: none;
border-radius: 4px;
color: #FFFFFF;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1,875;
}
.newsletter-text{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}
.newsletter-email{
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
.sing-button{
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: baseline;
  text-align: justify;
  align-items: baseline;
  width: 200px;
  height: 50px;
  margin-top: 6px;
}
.send{
  position: absolute;
  width: 24px;
  height: 24px ;
  fill: #FFFFFF;
  align-items: center;
  top: 13px;
  right: 18px;
}
.newsletter-button{
  width: 200px;
height: 50px;
padding: 0;
  background: #2196F3;
  border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.newsletter-form{
  display: flex;
  position: relative;
  margin-left: 78px;
  margin-top: 38px;
}
.newsletter-form .newsletter-input{
border-radius: 4px;
width: 358px;
height: 50px;
background-color: var(--fotter-color);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.newsletter-form .newsletter-input:focus{
  outline: 0;
}
.sing-in{
  border: none;
}

.newsletter-form .newsletter-email{
  color: #FFFFFF;
  border: none;
  position: absolute;
  top: -20px;
  text-transform: uppercase;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,17px;
}

